<h1>Gas Cylinder Order Form</h1>
<br>
<mat-card>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="field-group">
      <h3>Requester Info</h3>
      <div class="row">
        <mat-form-field class="col-md-6 col-sm-12">
          <input matInput placeholder="Requested By" formControlName="requester" required>
        </mat-form-field>

        <mat-form-field class="col-md-6 col-sm-12">
          <input matInput placeholder="Supervisor" aria-label="Manager" formControlName="manager"
                 [matAutocomplete]="auto"
                 required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Please type in your manager's name and select from the Autocomplete list.</mat-hint>
          <mat-error
            *ngIf="requestForm.get('manager').dirty && requestForm.get('manager').hasError('notInList')">
            Please choose a manager from the list.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-6 col-sm-12">
          <input matInput placeholder="Phone Number" formControlName="requester_phone" required>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="field-group">
      <br>
      <h3>Vendor Info</h3>
      <small>Choose a vendor name the rest of vendor information will be automatically populate.</small><br><br>
      <div formGroupName="vendor">
        <div class="row">
          <mat-form-field class="col-md-4 col-sm-12">
            <mat-label>Vendor Name</mat-label>
            <mat-select formControlName="vendor_name" required>
              <mat-option *ngFor="let vendor of vendors$ | async" value="{{ vendor.vendor_name }}">
                {{ vendor.vendor_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-8 col-sm-12">
            <input matInput placeholder="Vendor Address" formControlName="vendor_address" readonly="readonly">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6 col-sm-12">
            <input matInput placeholder="Vendor Phone Number" formControlName="vendor_phone" readonly="readonly">
          </mat-form-field>
          <mat-form-field class="col-md-6 col-sm-12">
            <input matInput placeholder="Vendor Fax Number" formControlName="vendor_fax" readonly="readonly">
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="field-group">
      <br>
      <h3>Order Info</h3>
      <div formArrayName="order_items" *ngFor="let item of requestForm.get('order_items')['controls']; let i = index;">
        <div [formGroupName]="i">
          <div class="row">
            <mat-form-field class="col-md-4 col-sm-12">
              <input matInput placeholder="Cat#" formControlName="order_name" required>
            </mat-form-field>
            <mat-form-field class="col-md-4 col-sm-12">
              <input matInput placeholder="Quantity" formControlName="order_quantity" required type="number" min="0.00"
                     step="1">
            </mat-form-field>
            <mat-form-field class="col-md-4 col-sm-12">
              <span matPrefix>$ &nbsp;</span>
              <input matInput placeholder="Unit Price" formControlName="order_unit_price" required type="number"
                     min="0.00" step="0.01">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-6 col-sm-12">
              <input matInput placeholder="Description" formControlName="order_description">
            </mat-form-field>
            <!--show remove button unless only one order group left-->
            <div class="col-md-6 col-sm-12">
              <button mat-raised-button *ngIf="i !== 0" class="order-remove btn-danger" (click)="this.removeItem(i)">Remove This Order</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button mat-raised-button type="button" (click)="this.addItem()">Add a New Order</button>
        </div>
      </div>
      <br><br>
      <div class="row">
        <mat-form-field class="col-md-6 col-sm-12">
          <span matPrefix>$ &nbsp;</span>
          <input matInput placeholder="Shipment Cost" formControlName="shipment_cost" type="number" min="0.00"
                 step="0.01">
        </mat-form-field>
        <mat-form-field class="col-md-6 col-sm-12">
          <input matInput placeholder="Total Cost (auto-calculated)" formControlName="total_cost"
                 readonly="readonly" [value]="requestForm.get('total_cost').value | currency">
        </mat-form-field>
      </div>
      <input type="hidden" formControlName="status">

      <div class="row">
        <div class="col-md-12">
          <ngb-alert *ngIf="succeed === true" type="success" [dismissible]="false">Your request is submitted successfully. This
            page will refresh in 3 seconds.
          </ngb-alert>
          <ngb-alert *ngIf="succeed === false" type="danger" [dismissible]="false">There was something wrong in the system.
            Please try again or contact admin.
          </ngb-alert>
          <br>
          <button type="submit" mat-raised-button [disabled]="!requestForm.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</mat-card>

