<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sideOpen">
    <div *ngIf="auth_role === role.admin">
      <a href="form">
        <mat-icon>assignment</mat-icon>
        Order Form
      </a>
      <a href="dashboard">
        <mat-icon>account_box</mat-icon>
        Admin Dashboard
      </a>
      <a href="inventory">
        <mat-icon>dashboard</mat-icon>
        Inventory Dashboard
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Only show sidebar menu options for admin-->
    <button mat-icon-button class="large sideBarMenu" (click)="sidenav.toggle()" *ngIf="auth_role === role.admin">
      <mat-icon *ngIf="sideOpen">close</mat-icon>
      <mat-icon *ngIf="!sideOpen">menu</mat-icon>
    </button>
    <div class="container main-wrapper">
      <!--Show anonymous user the login link-->
      <h2 *ngIf="auth_role === ''">Please login to MyCarnegie first.</h2>
      <router-outlet  *ngIf="auth_role !== ''"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<img class="logo" src="./assets/image/site-logo-color.png"/>
