<ul class="nav nav-pills">
  <li class="nav-item" *ngIf="authRole === role.manager || authRole === role.admin">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('pending')"
       [class.active]="dashboardStatus == 'pending'"><mat-icon>hourglass_full</mat-icon>Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('approved')"
       [class.active]="dashboardStatus == 'approved'"><mat-icon>check_circle</mat-icon>Approved</a>
  </li>
  <li class="nav-item" *ngIf="authRole === role.manager || authRole === role.admin">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('declined')"
       [class.active]="dashboardStatus == 'declined'"><mat-icon>highlight_off</mat-icon>Declined</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('complete')"
       [class.active]="dashboardStatus == 'complete'"><mat-icon>assignment_turned_in</mat-icon>Complete</a>
  </li>
  <li class="nav-item" *ngIf="authRole === role.admin">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('inventoried')"
       [class.active]="dashboardStatus == 'inventoried'"><mat-icon>archive</mat-icon>Inventoried</a>
  </li>
</ul>
<br>
<table width='100%' class="table table-striped" matSort (matSortChange)="sortData.emit($event)">
  <thead>
  <tr>
    <th mat-sort-header="createdAt">Created Date</th>
    <th mat-sort-header="order_requester">Requester</th>
    <th mat-sort-header="order_vendor">Vendor</th>
    <th *ngIf="authRole === role.accounting || authRole === role.admin">Supervisor</th>
    <th>Status</th>
    <th>Request Detail</th>
    <th *ngIf="dashboardStatus === 'pending' || (dashboardStatus === 'approved' && authRole === role.accounting) || authRole === role.admin">Response</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let request of requests | async | slice:(pageSize*pageIndex):(pageSize*pageIndex+pageSize)">
    <td>{{ request.createdAt | date:'medium' }}</td>
    <td>{{ request.requester }}</td>
    <td>{{ request.vendor.vendor_name }}</td>
    <td *ngIf="authRole === role.accounting || authRole === role.admin">{{ request.manager }}</td>
    <td>{{ request.status }}</td>
    <td>
      <button mat-raised-button (click)="viewDetail.emit(request)">View Detail</button>
    </td>
    <td *ngIf="dashboardStatus === 'pending'">
      <div *ngIf="authRole === role.manager">
        <button mat-raised-button class="btn btn-success" (click)="requestApproved.emit(request)">Approve</button>
        &nbsp;
        <button mat-raised-button class="btn btn-danger" (click)="requestDeclined.emit(request)">Decline</button>
      </div>
    </td>
    <td *ngIf="dashboardStatus === 'approved' && authRole === role.accounting">
        <button mat-raised-button class="btn btn-success" (click)="requestComplete.emit(request)">Complete</button>
    </td>
    <td *ngIf="dashboardStatus === 'complete' && authRole === role.admin">
      <button mat-raised-button class="btn btn-success" (click)="addToInventory.emit(request)">Add to Inventory</button>
    </td>
  </tr>
  </tbody>
</table>

<!--display spinner if loading-->
<mat-spinner *ngIf="(requests | async) == null"></mat-spinner>
