<div mat-dialog-content>
  <h4>Requester Info</h4>
  <div class="row">
    <div class="col-md-4">
      Requested by: <strong>{{ data.order_requester }}</strong>
    </div>
    <div class="col-md-4">
      Phone number: <strong>{{ data.order_requester_phone }}</strong>
    </div>
  </div>
  <br>
  <h4>Vendor Info</h4>
  <div class="row">
    <div class="col-md-6">
      Requested by: <strong>{{ data.order_vendor }}</strong>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <br>
  <h4>Order Info</h4>
  <div class="row" *ngFor="let order of data.order_items">
    <div class="col-md-4">
      Cat#: <strong>{{ order.order_name }}</strong>
    </div>
    <div class="col-md-4">
      Quantity: <strong>{{ order.order_quantity }}</strong>
    </div>
    <div class="col-md-4">
      Unit Price: <strong>{{ order.order_unit_price | currency }}</strong>
    </div>
    <div class="col-md-4">
      Description: <strong>{{ order.order_description }}</strong>
    </div>
    <div class="col-md-12"><br></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      Shipment Cost: <strong>{{ data.order_shipment_cost | currency }}</strong>
    </div>
    <div class="col-md-4">
      Total Cost: <strong>{{ data.order_total_cost | currency }}</strong>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <br>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
