/* Import material theme css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$carnegie-dark-blue: #163671;
$carnegie-light-blue: #5eb6cd;
$carnegie-brown: #c49a6c;
$carnegie-green: #96ca4f;
$red: #e45832;
$background-grey: #f9f9f9;

html, body {
  background-color: $background-grey;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  a {
    color: $carnegie-light-blue;
    &:hover {
      color: $carnegie-dark-blue;
    }
  }
  h1 {
    text-align: center;
    font-weight: bold;
    color: $carnegie-dark-blue;
  }
  .main-wrapper {
    padding-top: 20px;
    /* logo */
    img.logo {
      max-width: 50px;
      float: left;
      margin-top: 1px;
    }
    // material overlay select list
    .cdk-overlay-container {
      div.mat-select-panel {
        max-height: 350px;
      }
    }
    /* Snackbar css */
    .grant .mat-simple-snackbar, .approve .mat-simple-snackbar {
      color: green;
    }
    .decline .mat-simple-snackbar {
      color: $red;
    }
    .mat-snack-bar-container {
      background: #fdfdfd;
    }
    // form field group
    .field-group {
      padding: 30px 0 45px;
    }
    // button override
    .mat-raised-button {
      &.btn-success {
        background: $carnegie-green;
        color: white;
      }
      &.btn-danger {
        background: $red;
        color: white;
      }
    }
    .nav-pills {
      .nav-link.active {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        background: $carnegie-light-blue;
      }
    }
  }
  // textarea field in pop up
  textarea.mat-input-element {
    border: 1px solid lightgray;
  }
  // pdf saving spinner
  .pdf-spinner {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 9999;
  }
  #contentToDownload.spinning {
    opacity: 0.3;
  }
  // mt icons
  .mat-icon-button {
    outline: none;
    &.large {
      width: 50px;
      height: 50px;
      .mat-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
        line-height: 48px;
      }
    }
  }
  // mt sidebar
  .mat-drawer-container {
    min-height: 100vh;
    .sideBarMenu {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    .mat-sidenav {
      a {
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        &:hover {
          background: $background-grey;
        }
        .mat-icon {
          vertical-align: bottom;
        }
      }
    }
    .mat-drawer-content {
      overflow: visible;
    }
  }
}
